@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container-fluid bg-banner">
    <div class="container">
        <h1>Nguyễn Trần Bảo Trân</h1>
        <h1>Lê Thị Thanh Thúy</h1>
        <h1>Trần Hiếu Nghĩa</h1>
    </div>
</div>
