@{
    ViewBag.Title = "suaLoai";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@using Nhom5_ShopBanDoTrangSuc.Models;
@model THELOAI

<div class="container-fluid login-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <form action="@Url.Action("XlySuaLoai", new {maloai=@Model.MALOAI })" method="post">
                    <div class="container login-table">
                        <h1 style="text-align:center">CẬP NHẬT LOẠI</h1>
                        <hr />

            
                        @*<label for="maloai"><b>Mã Loại</b></label>
                        <input type="text" name="maloai" value="@Model.MALOAI" required />*@
                        <label for="tenloai"><b>Tên Loại</b></label>
                        <input type="text" name="tenloai" value="@Model.TENLOAI" required />
                        <label for="icon"><b>ICON</b></label>
                        <input type="text" name="icon" value="@Model.ICON_THELOAI" required />
                        <input type="submit" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

